
# files dumped at base directory
*.err
*.out
*.zip
*.log
*.txt
*.csv
*.pickle



# folders created from imports
__pycache__/
*/__pycache__/
*/*/__pycache__/


# folders as artefacts
.idea/
results/
logs/
plots/
workflow/
dask-worker-space/
dehb/examples/*/results
dehb/examples/*/*/results
.ipynb_checkpoints/
